{%  extends "users/layout.html" %}
{% load crispy_forms_field %}
{% load static %}
{% block extra_css %}
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css'%}" rel="stylesheet" />

{% endblock %}
{% block body %}
    <!-- Basic Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Student Entry Form</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group form-float">
                                        <div class="form-line">
                                            {% crispy_field form.first_name 'class' 'form-control' %}
                                            <label class="form-label">First Name</label>
                                            {% if form.first_name.errors %}
                                                {% for error in form.first_name.errors %}
                                                    <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group  form-float">
                                        <div class="form-line">
                                            {% crispy_field form.middle_name 'class' 'form-control' %}
                                            <label class="form-label">Middle Name </label>
                                            {% if form.middle_name.errors %}
                                                {% for error in form.middle_name.errors %}
                                                    <div class="invalid-feedback">{{ error }}</div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group  form-float">
                                    <div class="form-line">
                                        <label class="form-label">Last Name</label>
                                        {% crispy_field form.last_name 'class' 'form-control' %}
                                        {% if form.last_name.errors %}
                                            {% for error in form.last_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                    </div>

                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.father_first_name 'class' 'form-control' %}
                                        <label class="form-label">Father First Name</label>
                                        {% if form.father_first_name.errors %}
                                            {% for error in form.father_first_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        {% crispy_field form.father_middle_name 'class' 'form-control' %}
                                        <label class="form-label">Father Middle Name </label>
                                        {% if form.father_middle_name.errors %}
                                            {% for error in form.father_middle_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Father Last Name</label>
                                        {% crispy_field form.father_last_name 'class' 'form-control' %}
                                        {% if form.father_last_name.errors %}
                                            {% for error in form.father_last_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20">Street</label>
                                    {% crispy_field form.street 'class' 'form-control' %}
                                        {% if form.street.errors %}
                                            {% for error in form.street.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20">Area</label>
                                    {% crispy_field form.areaname 'class' 'form-control' %}
                                        {% if form.areaname.errors %}
                                            {% for error in form.areaname.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20">City</label>
                                    {% crispy_field form.city 'class' 'form-control' %}
                                        {% if form.city.errors %}
                                            {% for error in form.city.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20">Country</label>
                                    {% crispy_field form.country 'class' 'form-control' %}
                                        {% if form.country.errors %}
                                            {% for error in form.country.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20">Phno1</label>
                                    {% crispy_field form.phno1 'class' 'form-control' %}
                                        {% if form.phno1.errors %}
                                            {% for error in form.phno1.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20">Phno2</label>
                                    {% crispy_field form.phno2 'class' 'form-control' %}
                                        {% if form.phno2.errors %}
                                            {% for error in form.phno2.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20">Birth Date</label>
                                    {% crispy_field form.birth_date 'class' 'datepicker form-control' %}
                                        {% if form.birth_date.errors %}
                                            {% for error in form.birth_date.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group form-float">

                                     <label class="m-l-20">Gender</label>
                                    {% crispy_field form.gender 'class' 'form-control' %}
                                        {% if form.gender.errors %}
                                            {% for error in form.gender.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}

                                </div>

                                 <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20">Email</label>
                                    {% crispy_field form.emailid 'class' 'form-control' %}
                                        {% if form.emailid.errors %}
                                            {% for error in form.emailid.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Validation -->
{% endblock %}
{% block extrac_js %}
      <!-- Moment Plugin Js -->
    <script src="{% static 'plugins/momentjs/moment.js'%}"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js'%}"></script>

     <!-- Bootstrap Datepicker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'%}"></script>


     <!-- Autosize Plugin Js -->
    <script src="{% static 'plugins/autosize/autosize.js'%}"></script>
    <!-- Custom Js -->
    <script src="{% static 'js/admin.js'%}"></script>
    <script src="{% static 'js/pages/forms/basic-form-elements.js'%}"></script>

{% endblock %}