{%  extends "users/layout.html" %}
{% load crispy_forms_field %}
{% load static %}
{% block extra_css %}
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css'%}" rel="stylesheet" />
     <!-- Bootstrap Select Css -->
    <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css'%}" rel="stylesheet" />

{% endblock %}
{% block body %}
    <!-- Basic Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Payment Entry Form</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST">
                                {% csrf_token %}

                                <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20"> Date</label>
                                    {% crispy_field form.date 'class' 'form-control' %}
                                        {% if form.date.errors %}
                                            {% for error in form.date.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Addmission </label>
                                        {% crispy_field form.addmission 'class' 'form-control show-tick' %}

                                        {% if form.addmission.errors %}
                                            {% for error in form.addmission.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <label class="form-label">Type</label>
                                        {% crispy_field form.type 'class' 'form-control show-tick' %}
                                        {% if form.type.errors %}
                                            {% for error in form.type.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line">
                                     <label class="m-l-20"> Amount </label>
                                    {% crispy_field form.amount 'class' 'form-control' %}
                                        {% if form.amount.errors %}
                                            {% for error in form.starttime.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float" id="bname">
                                    <div class="form-line">
                                     <label class="m-l-20">Bank Name</label>
                                    {% crispy_field form.bank_name 'class' 'form-control' %}
                                        {% if form.bank_name.errors %}
                                            {% for error in form.bank_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group form-float" id="brname">
                                    <div class="form-line">
                                     <label class="m-l-20">Branch Name</label>
                                    {% crispy_field form.branch_name 'class' 'form-control' %}
                                        {% if form.branch_name.errors %}
                                            {% for error in form.branch_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float" id="chdate">
                                    <div class="form-line">
                                     <label class="m-l-20"> Cheque Date</label>
                                    {% crispy_field form.cheque_date 'class' 'form-control' %}
                                        {% if form.cheque_date.errors %}
                                            {% for error in form.cheque_date.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>

                            <div class="form-group form-float" id="chno">
                                    <div class="form-line">
                                     <label class="m-l-20">Cheque No</label>
                                    {% crispy_field form.cheque_no 'class' 'form-control' %}
                                        {% if form.cheque_no.errors %}
                                            {% for error in form.cheque_no.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                 <div class="form-group form-float" id="rid">
                                    <div class="form-line">
                                     <label class="m-l-20">Ref Id</label>
                                    {% crispy_field form.ref_id 'class' 'form-control' %}
                                        {% if form.ref_id.errors %}
                                            {% for error in form.ref_id.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>


                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Validation -->
{% endblock %}
{% block extrac_js %}
      <!-- Moment Plugin Js -->
    <script src="{% static 'plugins/momentjs/moment.js'%}"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js'%}"></script>

     <!-- Bootstrap Datepicker Plugin Js -->
    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'%}"></script>
    <!-- Select Plugin Js -->
    <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js'%}"></script>


     <!-- Autosize Plugin Js -->
    <script src="{% static 'plugins/autosize/autosize.js'%}"></script>
    <!-- Custom Js -->
    <script src="{% static 'js/admin.js'%}"></script>
    <script src="{% static 'js/pages/forms/basic-form-elements.js'%}"></script>

    <script>
            document.addEventListener('DOMContentLoaded',function(){

                document.querySelector("#id_type").onchange=function(){
                    console.log(this.value);
                    if(this.value == 'cash')
                    {
                         document.querySelector("#bname").style.display='none';
                         document.querySelector("#brname").style.display='none';
                         document.querySelector("#chdate").style.display='none';
                         document.querySelector("#chno").style.display='none';
                         document.querySelector("#rid").style.display='none';
                    }
                    else if(this.value == 'cheque')
                    {
                         document.querySelector("#bname").style.display='block';
                         document.querySelector("#brname").style.display='block';
                         document.querySelector("#chdate").style.display='block';
                         document.querySelector("#chno").style.display='block';
                         document.querySelector("#rid").style.display='none';

                    }
                    else
                    {
                         document.querySelector("#bname").style.display='none';
                         document.querySelector("#brname").style.display='none';
                         document.querySelector("#chdate").style.display='none';
                         document.querySelector("#chno").style.display='none';
                         document.querySelector("#rid").style.display='block';
                    }


                }
            })
    </script>


{% endblock %}